body {
    background: #068D9D;
    
}

#wrapper {
    background: #AEECEF;
    width: 900px;
    margin: auto;
    border: 3px solid #53599A;
    border-radius: 10px;
}

header {
    background: #80DED9;
    padding: 10px;
    margin: 10px 10px;
    border: 3px solid #53599A; 
    border-radius: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 100px;
    border-radius: 10px;
}

header h1{
    font-size: 2em;
    color: black;
    display: inline;
    float: right;
    margin: 0 20px;
    padding: 0;
    text-align: center;
}

nav{
    width: 90%;
    background: #80DED9;
    border: 7px solid #53599A;

    /* border-bottom: 10px solid #53599A;
    border-left: 10px solid #53599A;
    border-right: 5px solid #53599A;
    border-top: 5px solid #53599A; */



    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: #068D9D 0.3s ease;
    display: flex;
    align-items: center;
}

nav a:hover {
    background: #068D9D;
    color: white;
    text-shadow: 4px 4px 4px #53599A;
}

footer{
    background: #80DED9;
    width: 200px;
    height: 250px;
    padding: auto;
    margin: 10px 10px;
    border: 3px solid #53599A; 
    border-radius: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 20px;
    text-align: center;
}

section {
    border: 3px solid #53599A;
    background: #AEECEF;
    float: left;
    width: 30%;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 20px 14px;
}

table {
    clear: both;
    
}

table.steelBlueCols {
    background-color: #555555;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
  }
  table.steelBlueCols td, table.steelBlueCols th {
    border: 1px solid #555555;
    padding: 5px 10px;
  }
  table.steelBlueCols tbody td {
    font-weight: bold;
    color: #FFFFFF;
  }
  table.steelBlueCols td:nth-child(even) {
    background: #398AA4;
  }
  table.steelBlueCols thead {
    background: #398AA4;
  }
  table.steelBlueCols thead th {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #398AA4;
  }
  table.steelBlueCols thead th:first-child {
    border-left: none;
  }
  
  table.steelBlueCols tfoot td {
    font-size: 13px;
  }
  table.steelBlueCols tfoot .links {
    text-align: right;
  }
  table.steelBlueCols tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
  }